<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Client List
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr No</th>
                                    <th>Contact person name</th>
                                    <th>Company name</th>
                                    <th>Address</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Pincode</th>
                                    <th>Employee Strength</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(client of clientList; track $index )
                                {
                                <tr>
                                    <td>{{$index+1}}</td>
                                    <td>{{client.contactPersonName}}</td>
                                    <td>{{client.companyName}}</td>
                                    <td>{{client.address}}</td>
                                    <td>{{client.city}}</td>
                                    <td>{{client.state}}</td>
                                    <td>{{client.pincode}}</td>
                                    <td>{{client.employeeStrength}}</td>
                                    <td>
                                        <button class="btn btn-primary" (click)="onEditClient(client)">Edit</button>
                                        <button class="btn btn-danger"
                                            (click)="onDeleteClient(client.clientId)">Delete</button>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
                New Client
            </div>
            <div class="card-body">
                <form #clientForm="ngForm">
                    <div class="row">
                        <div class="col-6">
                            <label for="">Contact person name</label>
                            <input type="text" minlength="10" #contactPersonName="ngModel" required
                                [(ngModel)]="clientObj.contactPersonName" name="contactPersonName" />
                            @if(contactPersonName.touched) {
                            <div class="text-danger">
                                @if(contactPersonName?.errors?.['required'])
                                {
                                <span>Contact Person name is a required field.</span>
                                }

                                @if(contactPersonName?.errors?.['minlength'])
                                {
                                <span>Mininum length of Contact Person name is 10 characters.</span>
                                }
                            </div>
                            }
                        </div>
                        <div class="col-6">
                            <label for="">Company name</label>
                            <input type="text" [(ngModel)]="clientObj.companyName" name="companyName" />
                        </div>
                        <div class="col-6">
                            <label for="">Address</label>
                            <textarea [(ngModel)]="clientObj.address" name="address"></textarea>
                        </div>
                        <div class="col-6">
                            <label for="">City</label>
                            <input type="text" [(ngModel)]="clientObj.city" name="city" />
                        </div>
                        <div class="col-6">
                            <label for="">State</label>
                            <input type="text" [(ngModel)]="clientObj.state" name="state" />
                        </div>
                        <div class="col-6">
                            <label for="">Pincode</label>
                            <input type="text" [(ngModel)]="clientObj.pincode" name="pincode" />
                        </div>
                        <div class="col-6">
                            <label for="">Employee Strength</label>
                            <input type="text" [(ngModel)]="clientObj.employeeStrength" name="employeeStrength" />
                        </div>
                        <div class="col-6">
                            <label for="">GST Number</label>
                            <input type="text" [(ngModel)]="clientObj.gstNo" name="gstNo" />
                        </div>
                        <div class="col-6">
                            <label for="">Contact Number</label>
                            <input type="text" [(ngModel)]="clientObj.contactNo" name="contactNo" />
                        </div>
                        <div class="col-6">
                            <label for="">Registration Number</label>
                            <input type="text" [(ngModel)]="clientObj.regNo" name="regNo" />
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary" (click)="onReset()">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" [disabled]="!clientForm.valid" (click)="onSaveClient()">
                                {{clientObj.clientId !=0 ? 'Update Client' : 'Save Client'}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
